body {
    width: 300px;
    height: 525px;
    margin: 0px;
}

.text-center {
    text-align: center;
}

.say h1 {
    font-size: 32px;
    -webkit-margin-before: 1em;
}

.say p {
    font-size: 16px;
    color: #666;
    -webkit-margin-before: 0.24em;
    -webkit-margin-after: 0.24em;
}

.say p.firstP {
    font-size: 18px;
    -webkit-margin-after: 1.8em;
}

.button {
    width: 132px;
    height: 32px;
    border: 1px solid #DC4F33;
    color: #fff;
    background: #DC4F33;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}

.floatRight {
    float: right;
}

button.draw {
    margin-top: 2em;
}

.myDatepicker {
    margin: 15px 34px 5px;
    height: 236px;
}

.myH1 {
    font-size: 32px;
    font-weight: normal;
    -webkit-margin-before: 30px;
    cursor: pointer;
}

.myP {
    font-size: 16px;
    color: #666;
    -webkit-margin-before: 0.24em;
    -webkit-margin-after: 0.24em;
    padding: 0 20px;
}

[date-picker] .now:hover,
[date-picker] .now:active,
[date-picker] .now.active,
[date-picker] .now.disabled,
[date-picker] .now[disabled],
[date-picker] .active:hover,
[date-picker] .now:hover,
[date-picker] .active:active,
[date-picker] .now:active,
[date-picker] .active.active,
[date-picker] .now.active,
[date-picker] .active.disabled,
[date-picker] .now.disabled,
[date-picker] .active[disabled],
[date-picker] .now[disabled] {
    background-color: #DC4F33;
    background-image: none;
}

.drawbody {
    height: 495px;
    text-align: center;
}

.footer {
    height: 50px;
    width: 320px;
    position: absolute;
    bottom: 18px;
    left: 0px;
}

.nodraw {
    border: 1px solid #DC4F33;
    color: #333;
    background: #fff;
    cursor: default;
}
