<header class="text-center">
    <h1 class="myH1" data-ng-click="returnWelcome()">900 Months</a></h1>
</header>
<div class="content">
    <p class="myP">Choose your birthday in chronological order from the calendar.</p>
<div date-picker="start" view="year"  min-view="date" class="myDatepicker" ng-model="start"></div>
<input type="hidden" ng-model="time" value={{start}}>
<p data-ng-if=start class="myP">Your Birth Date：{{start | date:'MMM. dd yyyy'}}</p>
</div>
<footer class="footer">
     <button class="set button" data-ng-click='toDrawShow(start)' data-ng-class="{nodraw:!start}">Draw my life</button>
</footer>
